<div class="border-user">



       <span ng-repeat="items in $ctrl.objects" ng-click="$ctrl.name == 'comp'?$ctrl.eventPositionSea(items): null">
            <hero-detail ng-if="items.obj.getType() == null " loop="{{items.obj}}" ids="item.position"></hero-detail>

                <span ng-repeat="item in items.obj.getPosArray()">
                    <ship ng-if="items.position.x == item.position.x && items.position.y == item.position.y"  name="{{$ctrl.name}}" status="{{item.position.status}}"></ship>

                </span>


        </span>




</div>

